@media screen and (max-width: 992px) {
    .oes-section #oes_results_container .oes-results-container__content .oes-results-item {
        width: 22%;
    }
}

@media screen and (max-width: 768px) {
    .oes-section #oes_results_container .oes-results-container__content .oes-results-item {
        width: 31%;
    }
}

@media screen and (max-width: 576px) {
    .oes-section #oes_results_container .oes-results-container__content .oes-results-item {
        width: 48%;
    }
}