.oes-section {
    background: $backgroundColor;
    padding: 24px;
    // font-family: inherit;
    font-family: vazir;

    .oes-container {
        border: 2px dashed $borderColor;
        border-radius: 12px;
        padding: 20px 0;
        text-align: center;

        h1 {
            font-family: inherit;
            color: $blackColor;
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 40px;
        }

        #oes_frm {
            .oes-frm-group {
                margin: 16px auto;

                label,
                select {
                    background: $greyColor;
                    padding: 8px 16px;
                    border-radius: 4px;
                    font-weight: 700;
                    border: none;
                    min-height: 40px;
                    font-family: inherit;
                }

                select {
                    text-align: center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';

                    &:focus-visible {
                        border: none;
                        outline: none;
                    }
                }

                label {
                    font-weight: lighter;
                    color: $blackColor;
                    font-size: 85%;
                }

                button[type=submit] {
                    background-color: $redColor;
                }

                button#oes_restart_btn {
                    background-color: $purpleColor;
                }

                button[type=submit],
                button#oes_restart_btn {
                    padding: 6px 24px;
                    color: #fff;
                    font-family: inherit;
                    border: none;
                    border-radius: 4px;
                    font-size: 100%;
                    margin-top: 16px;
                    cursor: pointer;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .oes-results-container {
        margin: 24px auto;
        padding: 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        gap: 1%;

        .oes-results-item {
            width: 16%;
            margin: 16px auto;

            .oes-results-item__header {
                background-color: $pinkColor;
                padding: 4px 16px;
                border-radius: 16px 16px 0 0;

                span {
                    color: $redColor;
                    font-weight: bold;
                }
            }

            .oes-results-item__content {
                background: #fff;
                min-height: 75px;
                display: grid;
                place-items: center;

                span {
                    color: $blackColor;
                    font-weight: bold;
                }
            }
        }

    }
}