.oes-section {
    background: $backgroundColor;
    padding: 15px 30px;
    // font-family: inherit;
    font-family: vazir;

    .oes-container {
        border: 2px dashed $borderColor;
        border-radius: 12px;
        padding: 4px 24px;
        text-align: center;

        h1 {
            // font-family: inherit;
            color: $blackColor;
            font-weight: 700;
        }

        #oes_frm {
            .oes-frm-group {
                margin: 16px auto;

                label,
                select {
                    background: $greyColor;
                    padding: 4px 16px;
                    border-radius: 4px;
                    font-weight: 700;
                }

                label {
                    font-weight: lighter;
                    color: $blackColor;
                }
            }
        }
    }

    .oes-results-container {
        margin: 24px auto;
        padding: 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        gap: 1%;

        .oes-results-item {
            width: 16%;
            margin: 16px auto;

            .oes-results-item__header {
                background-color: $pinkColor;
                padding: 4px 16px;
                border-radius: 16px 16px 0 0;

                span {
                    color: $redColor;
                    font-weight: bold;
                }
            }

            .oes-results-item__content {
                background: #fff;
                min-height: 75px;
                display: grid;
                place-items: center;

                span {
                    color: $blackColor;
                    font-weight: bold;
                }
            }
        }

    }
}